@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}
body {
  font-family: Work Sans;
}
/* shared styles */
.display-flex {
  display: flex;
}
/* dark-01 */
.text-dark-gray {
  color: #131313;
}
/* dark-02 */
.text-gray {
  color: #424242;
}
/* dark-03 */
.text-light-gray {
  color: #727272;
}
/* primary color */
.text-primary {
  color: #ff900e;
}
/* bg-light */
.bg-light {
  background: #ff900e1a;
}
/* btn primary */
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  font-size: 1.25rem;
  border: 0;
  border-radius: 8px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
.section-title {
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

/* header style */
header {
  padding-top: 50px;
  padding-bottom: 45px;
}
/* navbar related style */
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.brand-name {
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
}
.nav-links {
  gap: 30px;
}
.nav-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
}

/* banner related style */
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0%;
}
.banner-description {
  margin-bottom: 32px;
}
.banner-img {
  width: 100%;
}

/* team & featured related style */
.teams {
  margin-top: 85px;
  margin-bottom: 130px;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-team {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}
.team-description {
  text-align: left;
  margin-bottom: 32px;
}
/* featured area */
.featured {
  justify-content: center;
  align-items: center;
  gap: 145px;
}
.featured-content-header {
  width: 586px;
}
.featured-content-header h3 {
  position: relative;
  margin-left: 20px;
}
.featured-content-header h3::before {
  width: 5px;
  height: 106px;
  content: ' ';
  background-color: #ff900e;
  display: inline-block;
  position: absolute;
  right: 102%;
}
.featured-content-main {
  margin-top: 30px;
  width: 586px;
}
.featured-box {
  padding: 30px;
  padding-right: 42px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.featured-box-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
.featured-imgs{
  position: relative;
}
.featured-imgs img {
  width: 708px;
  height: 982px;
  border-radius: 8px;
}
.experience {
  width: 342px;
  height: 200px;
  color: #ffffff;
  padding: 45px 42px;
  background-color: #ff900e;
  border-radius: 8px;
  position: absolute;
  top: 87.5%;
  left: -15%;
}
.experience h3 {
  font-weight: 700;
  font-size: 65px;
  letter-spacing: 0%;
  text-align: center;
}
.experience p{
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
}

/* fect related style */
.facts {
  margin: 180px auto;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-description {
  max-width: 540px;
  margin-bottom: 100px;
}
.fact-card {
  box-sizing: border-box;
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  margin-top: 10px;
}

/* sponsor area */
.sponsor h3,
.sponsor p {
  text-align: center;
}
.sponsor-logos {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 130px;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .navbar {
    gap: 30px;
  }

  /* team & featured */
  .team-img-container,
  .fact-container {
    grid-template-columns: 1fr;
  }
  .our-team {
    margin-left: 20px;
    margin-top: 20px;
  }
  /* featured */
  .featured-content-header {
    max-width: 300px;
    margin: 0 auto;
  }
  .featured {
    flex-direction: column;
  }
  .featured-content-header,
  .featured-content-header p,
  .featured-content-main {
    width: 80%;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .featured-content-header p {
    margin-bottom: 20px;
  }
  .featured-imgs {
    margin: 0 auto;
  }
  .featured-imgs img {
    width: 350px;
    height: 600px;
  }

  /* fact area style */
  .fact-container {
    justify-items: center;
    gap: 24px;
  }
  .facts h3,
  .facts > p {
    text-align: center;
  }

  /* sponsor */
  .sponsor-logos {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .sponsor-logos {
    gap: 50px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-team {
    margin: 0 auto;
    margin-top: 50px;
  }
  .team-img-container,
  .fact-container {
    grid-template-columns: 1fr 1fr;
  }
  /* featured */
  .featured-content-header {
    max-width: 500px;
    margin: 0 auto;
  }
  .featured {
    flex-direction: column;
  }
  .featured-content-header,
  .featured-content-header p,
  .featured-content-main {
    width: 90%;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .featured-content-header p {
    margin-bottom: 20px;
  }
  .featured-imgs {
    margin: 0 auto;
  }
  .featured-imgs img {
    width: 550px;
    height: 800px;
  }

  /* fact area */
  .fact-container {
    justify-items: center;
    gap: 10px;
  }
  .fact-card {
    width: 98%;
  }
  .facts {
    text-align: center;
    justify-items: center;
  }
  .facts > p {
    text-align: center;
  }

  /* sponsor area */
  .sponsor-logos {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
  }
}
